<footer>
  <div class="wrapper">

    <div class="box1">

      <img width="350px" src="../../assets/img/logo_lapa002.png" />

    </div>


    <div class="box2">
      <h2>Endereço</h2>
      <p>Rua Colômbia, 861 - Sala 4</p>
      <p>Guilhermina - Praia Grande/SP</p>
      <p>Cep: 11.702-020</p>
    </div>
    <div class="box3">
      <h2>Contato</h2>

      <a class="redes-sociais" target="blank" href="https://www.fb.com\assessorialapa">
        <img width="50px" src="../../assets/img/icones/facebook.png" />
      </a>

      <a class="redes-sociais" target="blank" href="https://www.instagram.com\assessorialapa">
        <img width="48px" src="../../assets/img/icones/instagram.png" />
      </a>

      <a href="https://api.whatsapp.com/send?phone=5513996419100" target="blank">
        <img width="48px" src="../../assets/img/icones/whatsapp.png" />
      </a>

      <p>E-mail: contato@assessorialapa.com</p>

    </div>

  </div>


</footer>