<p class="flip-text">Gráfica Arte Top</p>
<img src="../../assets/img/clientes/grafica_art_top.jpeg" alt="Avatar" style="height:300px;">

<p class="flip-text">Garden Santista</p>
<img src="../../assets/img/clientes/garden_santista.jpeg" alt="Avatar" style="height:300px;">

<p class="flip-text">Gaúcho Grill</p>
<img src="../../assets/img/clientes/gaucho_grill.jpeg" alt="Avatar" style="height:300px;">

<p class="flip-text">O Brasileirinho Marmitex</p>
<img src="../../assets/img/clientes/obrasileiro_marmitex.jpeg" alt="Avatar" style="height:300px;">

<p class="flip-text">Platform Builders</p>
<img src="../../assets/img/clientes/platform_builders.jpeg" alt="Avatar" style="height:300px;">

<p class="flip-text">Sigás</p>
<img src="../../assets/img/clientes/sigas.jpeg" alt="Avatar" style="height:300px;">