<section class="clients">

  <!-- <h1 class="text-center">Clientes</h1> -->

  <div class="wrapper3">
    <div class="box1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/grafica_art_top.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">Gráfica Arte Top</p>

          </div>
        </div>
      </div>
    </div>
    <div class="box2">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/garden_santista.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">Garden Santista</p>
          </div>
        </div>
      </div>

    </div>
    <div class="box3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/gaucho_grill.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">Gaúcho Grill</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper4">
    <div class="box1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/obrasileiro_marmitex.jpeg" alt="Avatar"
              style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">O Brasileirinho Marmitex</p>

          </div>
        </div>
      </div>

    </div>
    <div class="box2">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/platform_builders.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">Platform Builders</p>

          </div>
        </div>
      </div>
    </div>
    <div class="box3">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/img/clientes/sigas.jpeg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">

            <p class="flip-text">Sigás</p>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>