table {
  width: 100%;
}

.mat-elevation-z8{
  margin: 10px;
}

mat-form-field#filter{
width: 99%;
margin: 10px;
}

.create{
margin: 10px;
width: 100%;
}

mat-icon{
  color: #17a2b8;
}

.my-code{
text-align: center;
width: 250px;
}

ng-container{
  text-align: center;
}

td{
  text-align: center;
}

th{
  text-align: center;
}

th.mat-header-cell{
  text-align: center;
}

div{
  /* max-width: 1600px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 120px;
  text-align: center; */
}

.badge{
  font-size: 25px;
  padding-top: 20px;
}