<html>

</html>

<mat-card>

  <body>
    <form [formGroup]="changePasswordForm" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Senha Antiga</mat-label>
        <input type="password" formControlName="senhaAntiga" matInput placeholder="">
        <mat-icon matSuffix>assignment_ind</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nova Senha</mat-label>
        <input type="password" formControlName="novaSenha" matInput placeholder="">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="confirmaSenha" matInput placeholder="">
        <mat-icon matSuffix>Confirme a senha</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
      <br>
      <button class="button" mat-raised-button (click)="alterar()">Alterar</button>

    </form>
  </body>
</mat-card>

<ngx-ui-loader fgsType="rectangle-bounce-party" bgsType="ball-spin-clockwise" logoUrl="../../assets/img/loader.png"
  logoSize="150" [loaderId]="'admin-loader'">