<section class="textos">


  <!-- <h1 class="text-center">Serviços prestados</h1> -->


  <div class="wrapper">
    <div class="box1">
      <mat-card class="card-text">
        <mat-card-title>
          <p>Empresas</p>
          <p>
            <mat-icon>next_week</mat-icon>
          </p>
        </mat-card-title>



        <mat-card-content class="company-content">
          <p class="marcador">Departamento Fiscal</p>
          <p class="marcador">Departamento Contabil</p>
          <p class="marcador">Departamento Pessoal</p>
          <p class="marcador">Departamento Societário - Legalização</p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="box2">
      <mat-card class="card-text">
        <mat-card-title>
          <p>Terceirização a Escritórios Contábeis</p>
          <p>
            <mat-icon>devices</mat-icon>
          </p>
        </mat-card-title>



        <mat-card-content class="company-content">
          <p class="marcador">Departamento Pessoal</p>
          <p class="marcador">Departamento Societário - Legalização</p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="box3">
      <mat-card class="card-text">
        <mat-card-title>
          <p>Pessoa Física
          <p>
            <mat-icon>person</mat-icon>
          </p>
        </mat-card-title>



        <mat-card-content class="company-content">
          <p class="marcador">Admissão</p>
          <p class="marcador">Mantimento e Demissão de Doméstica</p>
          <p class="marcador">e-Social</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div class="wrapper2">
    <div class="box4">

      <mat-card class="card-text">
        <mat-card-title>
          <p>Pessoa Jurídica</p>
          <p>
            <mat-icon>people</mat-icon>
          </p>
        </mat-card-title>



        <mat-card-content class="company-content">
          <p class="marcador">Declaração IRPJ (DIRPJ)</p>
          <p class="marcador">RAIS</p>
          <p class="marcador">DEFIS</p>
          <p class="marcador">SIMEI Anual</p>
          <p class="marcador">Declaração de Faturamento</p>
          <p class="marcador">DECORE</p>

        </mat-card-content>
      </mat-card>

    </div>
    <div class="box5">

      <mat-card class="card-text">
        <mat-card-title>
          <p>Declarações Pessoa Física
          <p>
            <mat-icon>folder_open</mat-icon>
          </p>
        </mat-card-title>



        <mat-card-content class="company-content">
          <p class="marcador">IRPF (Imposto de Renda da Pessoa Física)</p>
          <p class="marcador">Emissão de guias de contribuição ao INSS</p>
          <p class="marcador">Regularização de CPF Suspenso ou Irregular na Receita Federal</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>


</section>