<body>
  <h4>Baixe nosso aplicativo na loja!</h4>

  <mat-divider></mat-divider>

  <button class="download" mat-button>
    <img src="../../assets/img/icones/playstore.png" width="20">
    Android</button>
  <button class="download" mat-button>
    <img src="../../assets/img/icones/app-store.png" width="20">
    IOS
  </button>

  <h5>Ou se já possui acesse ele</h5>
  <mat-divider></mat-divider>

  <a href="appassessorialapa://com.br.assessorialapa">
    <button class="open" mat-button>Abrir</button>
  </a>
</body>