<app-menu [isSimpleMenu]="true" back="false"></app-menu>


<mat-card>
  <mat-card-title>
    <h1>Política de Privacidade</h1>
  </mat-card-title>
  <mat-card-content>


    <h3>Este aplicativo é mantido e operado por LAPA CONTABILIDADE E CONSULTORIA LTDA.</h3>
    <p>A política de privacidade e termos de uso se aplicam a todos os usuários que acessam nosso website.</p>
    <p>A privacidade dos visitantes do nosso site é muito importante para nós, e estamos comprometidos em
      protegê-la.
      Coletamos e utilizamos alguns dados pessoais pertencentes àqueles usuários que utilizam este website.
      Agimos na qualidade de controlador desses dados de acordo com a legislação federal e com as normas
      internacmatais
      de segurança da informação.</p>

    <h3>Introdução</h3>

    <p>Disponibilizamos esta política de privacidade, que contém informações importantes sobre:</p>

    <p>- Quem deve utilizar este website <br>
      - Quais dados coletamos e o que fazemos com eles <br>
      - Seus direitos em relação aos seus dados pessoais <br>
      - Como entrar em contato conosco
    </p>

    <p>Esta política explica o que faremos com suas informações pessoais e visa esclarecer a todos os(as)
      interessados(as) sobre os tipos de dados que coletamos,
      os motivos da coleta e a forma como os usuários deste site podem gerenciar ou excluir suas informações
      pessoais.
    </p>

    <p>Os presentes termos foram elaborados em conformidade com a Lei Geral de Proteção de Dados pessoais (Lei
      13.709/18), o Marco Civil da Internet (Lei 12.965/14) e o Regulamento da EU (n.2016/6790).</p>

    <h3>1 - Quem deve utilizar este site</h3>

    <p>Nosso website só deve ser utilizado por pessoas com mais de 18 anos de idade. </p>

    <h3>2 – Dados que coletamos e motivos da coleta</h3>

    <p>Nosso site coleta e utiliza alguns dados pessoais dos visitantes e usuários da seguinte forma:</p>

    <h3>2.1) Dados pessoais fornecidos expressamente pelo usuário</h3>

    <p>Coletamos os seguintes dados pessoais que os usuários nos fornecem ao utilizar nosso site: </p>

    <p>Nome completo, cpf e e-mail <br>

      A coleta destes dados ocorre nos seguintes momentos:<br>

      Quando o usuário solicita uma cotação ou contratação de serviço
    </p>

    <p> Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:</p>

    <p>Para orçar ou contratar nossos serviços; - Para comunicar ofertas, anúncios e promoções; - Para que nossos
      colaboradores possam entrar em contato via e-mail, telefone, chat e mensagens de texto para fazer pesquisas
      e/ou
      apresentar produtos e serviços. - Para enviar faturas e lembretes de pagamento; - Para enviar mensagens
      relativas
      ao suporte ou serviços, como alertas, notificações e atualizações;</p>

    <h3>2.2) Dados pessoais comportamentais:</h3>

    <p>Quando o usuário visita o nosso website, é inserido um ‘cookie’ em seu navegador por meio do software Google
      Analytics, para identificar quantas vezes visitou o nosso endereço eletrônico, quanto tempo permaneceu em
      nosso
      website, desde que cidade nos acessou e quais páginas leu e recomendou, entre outros.</p>

  </mat-card-content>
</mat-card>