<div [class]="classMenu">
  <img class="logo" src="../../assets/img/logo_azul.png" />
</div>

<section class="logo-personalizada">
  <img src="../../assets/img/logo_personalizado.jpeg" />
  <!-- <img src="../../assets/img/ilustration1.svg" /> -->
</section>

<app-services *ngIf="!isMobile" #services></app-services>
<app-services-mobile *ngIf="isMobile"></app-services-mobile>
<section class="ilustration">
  <!-- <img class="ilustration-img" src="../../assets/img/ilustration1.svg" /> -->
  <img class="ilustration-img" src="../../assets/img/ilustration_clientes.png" />

</section>

<app-clients *ngIf="!isMobile"></app-clients>
<app-clients-mobile *ngIf="isMobile"></app-clients-mobile>
<app-footer></app-footer>